@media screen and (max-width: 600px) {
  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.8em;
  }

  img {
    height: 12vh;
  }

  #info-social {
    font-size: 2em;
  }
}
