#page-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33vw 33vw 34vw;
      grid-template-columns: 33vw 33vw 34vw;
  -ms-grid-rows: 40vh 60vh;
      grid-template-rows: 40vh 60vh;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}

#project-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #aaaaaa;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#project-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bbbbbb;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#project-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cccccc;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#project-info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  background-color: #9d5980;
  z-index: 1;
}

#info-1 {
  position: absolute;
  background-color: #9d5980;
  z-index: 2;
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  overflow: scroll;
  text-align: center;
}

#info-2 {
  position: absolute;
  background-color: #9d5980;
  z-index: 3;
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  overflow: scroll;
  text-align: center;
}

#info-3 {
  position: absolute;
  background-color: #9d5980;
  z-index: 4;
  width: 100vw;
  height: 60vh;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  overflow: scroll;
  text-align: center;
}

#project-1:hover {
  opacity: 0.2;
}

#project-2:hover {
  opacity: 0.2;
}

#project-3:hover {
  opacity: 0.2;
}

#project-1:hover~#project-info>#info-1 {
  opacity: 1;
}

#project-2:hover~#project-info>#info-2 {
  opacity: 1;
}

#project-3:hover~#project-info>#info-3 {
  opacity: 1;
}

.info-grid {
  display: grid;
  grid-template-columns: 33vw 67vw;
}

.info-grid img {
  height: 60vh;
  width: 67vw;
}

#slideshow2 {
  width: 100%;
  height: 60vh;
  display: block;
  opacity: 0.0;
  background-color: #000;
  /*
     set background images as `url(/path/to/image)` here,
     separated by commas
  */
  background-image: url("../projects-img/quick-quote/screenshot1.png"),
    url("../projects-img/quick-quote/screenshot2.png"),
    url("../projects-img/quick-quote/screenshot3.png"),
    url("../projects-img/quick-quote/screenshot4.png"),
    url("../projects-img/quick-quote/screenshot5.png"),
    url("../projects-img/quick-quote/screenshot6.png");
  background-size: cover;
  background-position: center;
}

#slideshow3 {
  width: 100%;
  height: 60vh;
  display: block;
  opacity: 0.0;
  background-color: #000;
  /*
     set background images as `url(/path/to/image)` here,
     separated by commas
  */
  background-image: url('http://lorempixel.com/600/400/'),
    url('http://lorempixel.com/600/400/'),
    url('http://lorempixel.com/600/400/'),
    url('http://lorempixel.com/600/400/');
  background-size: cover;
  background-position: center;
}

#slideshow4 {
  width: 100%;
  height: 60vh;
  display: block;
  opacity: 0.0;
  background-color: #000;
  /*
     set background images as `url(/path/to/image)` here,
     separated by commas
  */
  background-image: url('http://lorempixel.com/600/400/'),
    url('http://lorempixel.com/600/400/'),
    url('http://lorempixel.com/600/400/'),
    url('http://lorempixel.com/600/400/');
  background-size: cover;
  background-position: center;
}

.slideshow {
  background: #000;
  display:block;
  width:inherit;
  height:inherit;
}
