#page-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}

#left {
  background-color: #cccccc;
  height: 100vh;
  width: 60vw;
  overflow: scroll;
  text-align: center;
}

#right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 40vw;
}

.slideshow {
  background: #000;
  display:block;
  width:inherit;
  height:inherit;
}

#slideshow {
  width: 100%;
  height: 50vh;
  display: block;
  opacity: 0.0;
  background-color: #000;
  /*
     set background images as `url(/path/to/image)` here,
     separated by commas
  */
  background-image: url('profile-art/me.jpg'),
    url('../profile-art/me.jpg'),
    url('../profile-art/me.jpg'),
    url('../profile-art/me.jpg');
  background-size: cover;
  background-position: center;
}

.p2-social {
  background-color: #9d5980;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

div.p2-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

div.p2-social a:hover {
  opacity: 0.2;
}
