body {
  background-color: #dddddd;
}

.page-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}

img {
  width: auto;
  height: 25vh;
}

#info {
  display: grid;
  grid-template-columns: 80% 20%;
  background-color: #cccccc;
  margin: 0;
  width: 50vw;
  height: 50vh;
  align-content: space-around;
}

.info-text {
  padding-left: 3em;
}

#info-social {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 3rem;
  text-decoration: none;
  color: black;
  transition: 1.2s;
  margin-right: 3rem;
}

#info-social:hover {
  opacity: 0.2;
}

#logo-page {
  display: flex;
  background-color: #9d5980;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
}

#about-me {
  display: flex;
  background-color: #bbbbbb;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  transition: 1.2s;
}

#about-me:hover {
  opacity: 0.2;
}

.about-link {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}

#what-i-do {
  display: flex;
  background-color: #aaaaaa;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  transition: 1.2s;
}

#what-i-do:hover {
  opacity: 0.2;
}

.what-i-do-link {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 50%;
    right: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}

#page-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}

#left {
  background-color: #cccccc;
  height: 100vh;
  width: 60vw;
}

#right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* background-color:s blue; */
  height: 100vh;
  width: 40vw;
}
.slideshow {
  background: #000;
  display:block;
  width:inherit;
  height:inherit;
}
#slideshow {
  width: 100%;
  /* height: 100%; */
  height: 50vh;
  display: block;
  opacity: 0.0;
  background-color: #000;
  /*
     set background images as `url(/path/to/image)` here,
     separated by commas
  */
  background-image: url('/profile-art/me.jpg'),
    url('/profile-art/me.jpg'),
    url('/profile-art/me.jpg'),
    url('/profile-art/me.jpg');
  background-size: cover;
  background-position: center;
}

.p2-social {
  background-color: #9d5980;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

div.p2-social a {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-decoration: none;
  color: black;
  transition: 1.2s;
}

div.p2-social a:hover {
  opacity: 0.2;
}

#page-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}

.bubble-right {
  background-color: #9d5980;
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  border-radius: 50%;
}

.bubble-left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #aaaaaa;
  width: 40vw;
  height: 100vh;
  margin: 0 auto;
}

.project-1 {
  background-color: #aaaaaa;
}

.project-2 {
  background-color: #bbbbbb;
}

.project-3 {
  background-color: #cccccc;
}

div.bubble-right h1 {
  margin: 0 auto;
}
